* {
    /* border: 1px dotted lightblue;  */
    /* padding: 1em;
    margin: 1em; */
    font-family: Helvetica, Arial, sans-serif;
}

img {
    height: 20vh;
  }
  
  h2 {
    text-align: center;
    color: blueviolet;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: greenyellow;
  }
  
  article{
    background-color: hotpink;
  }
  
  section {
    background-color: brown;
  }
  
  .container {
    display: flex;
  }
  
  .main-content {
    padding-left: 2em;
    width: 75%;
    border: 1px solid black;
  }
  
  aside {
    border: 1px solid black;
    padding: 1em;
    background-color: magenta;
  }
  
  .fish-card {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 1em;
  }
  
  .fish-card__text {
    width: 70%;
    text-align: center;
  }
  
  .location-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .location-card {
    border: 1px solid black;
    margin: 1em;
  }
  
  /* Nav Bar Component */
  .nav-container {
    justify-content: center;
    background-color: rgb(255, 102, 0);
  }
  
  .nav-item {
    padding: 2em;
    list-style: none;
  
  }
  
  .nav-item a {
    text-decoration: none;
  }
  
  .nav-item a:hover {
    color: rgb(1, 141, 141);
  }